/*reset*/
* {
    margin: 0;
    padding: 0;
}

img {
    border-style: none;
    vertical-align: bottom;
}

/*layout*/
body {
    width: auto;
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    background-color: #1c4f4a;
    box-shadow: 0 1px 1px #5b3520;
}
.header logo{
    float: left;
}
.header nav ul li{
    float: right;
        list-style: none;
    text-align: center;
}
.header nav ul li a{
    text-decoration: none;
    
}
