// html
html {
  scroll-behavior: smooth;
}

img {
  border-style: none;
  vertical-align: bottom;
}

// typography

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.1em;
}

/*layout*/
body {
  width: auto;
  font-family: $font-default;
}

article {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* section */
.section--title {
  font-size: 24px;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.with-leaf {
  &::before {
    content: "";
    background-image: url("../images/line-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
    width: 100px;
    background-position: center;
    transition: all 0.2s;
    @media (min-width: $viewport-md) {
      margin-right: 1rem;
      width: 150px;
    }
  }
  &::after {
    content: "";
    background-image: url("../images/line-right.png");
    background-repeat: no-repeat;
    margin-left: 0.5rem;
    width: 100px;
    background-size: contain;
    background-position: center;
    transition: all 0.2s;
    @media (min-width: $viewport-md) {
      margin-left: 1rem;
      width: 150px;
    }
  }
}

/* main */
.main {
  background: url("../images/background.png") repeat; /* 背景の画像、リピートさせる */
}

/* bricks */
.bricks {
  @media (min-width: $viewport-md) {
    position: fixed;
    background-repeat: repeat-y;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100px;
  }
}

.bricks--left {
  background-image: url("../images/side-left.png");
  left: 0;
}

.bricks--right {
  background-image: url("../images/side-right.png");
  right: 0;
}

/* font */
@font-face {
  font-family: "Andale Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Andale Mono Regular"), url("ANDALEMO.woff") format("woff");
}
