// html
html {
  scroll-behavior: smooth;
}

img {
  border-style: none;
  vertical-align: bottom;
}

// typography

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.1em;
}

/*layout*/
body {
  width: auto;
  font-family: "Andale Mono Regular", "Noto Sans JP", sans-serif;
}

#wrapper {
  padding-top: 60px;
}

/* section */
.section--title {
  font-size: 24px;
  text-align: center;
  padding: 16px;
  display: flex;
  justify-content: center;
}

/* main */
.main {
  background: url("../images/background.png") repeat; /* 背景の画像、リピートさせる */
}

/* bricks */
.bricks--left {
  position: fixed;
  background: url("../images/side-left.png") repeat-y;
  left: 0;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100px;
}

.bricks--right {
  position: fixed;
  background: url("../images/side-right.png") repeat-y;
  right: 0;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100px;
}

/* font */
@font-face {
  font-family: "Andale Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Andale Mono Regular"), url("ANDALEMO.woff") format("woff");
}
