/* header */

.header--color {
  background-color: $primary-color;
  color: white;
}

.header--logo-container {
  height: 5rem;
  width: 8rem;
}
.header--logo {
  background-image: url("../images/logo_eccjr.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}

.header--list {
  display: flex;
  align-items: "center";
}

.header--list-item {
  position: relative;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  text-align: center;
  height: $header-height;
  list-style: none;
  color: white;
  font-size: 0.6rem;
  align-items: center;
  &:hover {
    background: rgba(0, 0, 0, 0.4); /* Hoverした時若干暗くする*/
  }
  &:active {
    background: rgba(0, 0, 0, 0.4); /* クリックした時若干暗くする*/
  }
  @media (min-width: $viewport-md) {
    font-size: $font-size-default;
  }
  & a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    text-decoration: none;
    color: white;

    &:hover {
      color: inherit;
    }
    @media (min-width: $viewport-md) {
      padding: 1rem;
    }
  }
}
