.about {
  position: relative;
  z-index: 6;
  background-image: url("../images/header-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &--main {
    width: 100%;
    padding: 56px 0;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--hero {
    padding: 24px;
    background: #1c4f4a80;
    color: white;
    max-width: $width-sm;

    @media (min-width: $viewport-md) {
      max-width: $width-md;
    }
  }
}
