.contact--main {
  position: relative;
  padding: 56px 0px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#map {
  width: 360px;
  height: 360px;
}

.contact--detail {
  padding: 36px;
}
