.contact--main {
  position: relative;
  padding: 56px 0px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// overriding bulma's column. TODO: remove bulma
.column {
  padding: 0;
}
.columns {
  max-width: 100%;
  margin: 0;
}

#map {
  width: 360px;
  height: 360px;
}

.contact--detail {
  padding: 36px;
}
