// vendor css
@import "./vendor/bulma.scss";

// variables
@import "./variables/colors.scss";
@import "./variables/variables.scss";

// base
@import "./base/base.scss";
@import "./base/reset.scss";

// components
@import "./components/header.scss";
@import "./components/footer.scss";

// pages
@import "./pages/about.scss";
@import "./pages/news.scss";
@import "./pages/schedule.scss";
